Source: ros-foxy-rosbag2-bag-v2-plugins
Section: misc
Priority: optional
Maintainer: Karsten Knese <karsten@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-foxy-ament-cmake, ros-foxy-ament-cmake-gmock, ros-foxy-ament-lint-auto, ros-foxy-ament-lint-common, ros-foxy-pluginlib, ros-foxy-rclcpp, ros-foxy-rcutils, ros-foxy-ros1-bridge, ros-foxy-ros1-rosbag-storage-vendor, ros-foxy-rosbag2, ros-foxy-rosbag2-storage, ros-foxy-rosbag2-test-common, ros-foxy-rosbag2-transport, ros-foxy-std-msgs, ros-foxy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-rosbag2-bag-v2-plugins
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-foxy-pluginlib, ros-foxy-rclcpp, ros-foxy-rcutils, ros-foxy-ros1-bridge, ros-foxy-ros1-rosbag-storage-vendor, ros-foxy-rosbag2, ros-foxy-rosbag2-storage, ros-foxy-ros-workspace
Description: Package containing storage and converter plugins for rosbag 1
